{% extends 'master/master.view.html' %}

{% block content %}

{% include 'layouts/message.view.html' %}

<!-- Breadcrumb -->
<section class="breadcrumb-outer text-center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Contact Us</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">Contact us</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>
<!-- BreadCrumb Ends -->

<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="contact-form" class="contact-form">
                    {% if messages %}
                    <div class="alert alert-success">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form method="post" action="" name="contactform1" id="contactform1">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label>Name:</label>
                                {{ContactForm.name}}
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Email:</label>
                                {{ContactForm.email}}
                            </div>
                            <div class="form-group col-xs-6 col-left-padding">
                                <label>Phone Number:</label>
                                {{ContactForm.phoneno}}
                            </div>
                            <div class="textarea col-xs-12">
                                <label>Message:</label>
                                {{ContactForm.message}}
                            </div>
                            <div class="col-xs-12">
                                <div class="comment-btn">
                                    <input type="submit" class="btn-blue btn-red" id="submit1" value="Send Messages">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-about footer-margin">
                    {% for contact in contactData %}
                    <div class="about-logo">
                        <img src="{{contact.logo.url}}" alt="Image">
                    </div>
                    <h4>Travel With Us</h4>
                    <p>{{contact.slogan}}</p>
                    <div class="contact-location">
                        <ul>
                            <li><i class="flaticon-maps-and-flags" aria-hidden="true"></i> {{contact.location}}</li>
                            <li><i class="flaticon-phone-call"></i>{{contact.contact}}</li>
                            <li><i class="flaticon-mail"></i> {{contact.email}}</li>
                        </ul>
                    </div>
                    <div class="footer-social-links">
                        <ul>
                            <li class="social-icon"><a href="{{contact.facebook}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li class="social-icon"><a href="{{contact.instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li class="social-icon"><a href="{{contact.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="social-icon"><a href="{{contact.youtube}}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            </li>
                            <li class="social-icon"><a href="{{contact.google}}"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>



<!-- back to top start -->
<div id="back-to-top">
    <a href="#"></a>
</div>


{% endblock %}