<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>

    <tr>
        <td> Name</td>
        <td> {{ Name }}</td>
    </tr>

    <tr>
        <td> Contact</td>
        <td> {{ Contact }}</td>
    </tr>

    <tr>
        <td> Email</td>
        <td> {{ Email}}</td>
    </tr>

    <tr>
        <td> Destination</td>
        <td> {{ Destination }}</td>
    </tr>

    <tr>
        <td> Depature</td>
        <td> {{ Depature }}</td>
    </tr>

    <tr>
        <td> No. of Person</td>
        <td> {{ person }}</td>
    </tr>

    <tr>
        <td> Message</td>
        <td> {{ Message }}</td>
    </tr>


</table>
</body>
</html>