{% extends 'master/master.view.html' %}
{% block content %}
    <!-- Error -->
    <section class="error">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="error-content text-center">
                        <div class="error-box">
                            <div class="error-box-inner">
                                <h1>404</h1>
                            </div>
                        </div>
                        <h2 class="page-title">Oops, looks like a ghost!</h2>
                        <p>The page you are looking for can't be found. Go home by <a href="{%url 'index'%}">Clicking here.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Error Ends -->



    <!-- back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>





{% endblock %}