{% extends 'master/master.view.html' %}
{% block content %}

<!-- Breadcrumb -->
<section class="breadcrumb-outer text-center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Search List</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li> Please find your destination</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>
<!-- BreadCrumb Ends -->

<!-- Destinations -->

{% if items %}
<section class="destinations">
    <div class="container">
        {% for obj in items %}
        <div class="row">
            <div class="col-md-12">
                <div class="destination-outer">
                    <div class="destination-fw-item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="destination-fw-image">
                                    <img src="{{obj.image.url}}" alt="Image">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="destination-fw-desc fw-content">
                                    <h3>
                                        <a href="{% url 'destination-details' obj.slug %}">{{obj.title}}</a>
                                    </h3>
                                    <p>{{obj.description | safe}}</p>
                                    <div class="destination-fw-content">
                                        <p class="fw-info"><i class="fa fa-clock-o" aria-hidden="true"></i> {{obj.day}}
                                            Days
                                        </p>

                                        <p class="fw-info" style="color:#993300;">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                           This Package is <mark> {{obj.category}}</mark>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="deal-rating">

                                    {% with ''|center:obj.star as range %}
                                {% for i in range %}
                                <span class="fa fa-star checked"></span>
                                {% endfor %}
                                {% endwith %}
                                </div>
                                <div class="fw-btns">
                                    <div class="fw-price"><p>Starts from:<span class="bold">{{obj.price}}</span>
                                    </p></div>
                                    <div class="destination-btns">
                                        <a href="{% url 'destination-details' obj.slug %}" class="btn-blue btn-red"
                                           tabindex="0">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>

</section>
<!-- Destination Ends -->

{% else %}
<section class="destinations">
    <div class="container">
        <div class="row">
            <h2> Matching Destination Not Found. Plesae contact 9851248173 to Get The information</h2>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}
